
body {
  background: rgba(0, 0, 0, 0.6) url("../images/address.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100%;
}

.card {
  margin-top:100px;
  background-color: rgba(179, 172, 172, 0.651);
  margin-left: 20%;
  margin-right: 20%;
  

}

input{
  padding: 5px;
  display: block;
  margin-left: 45%;
  margin-top: 20px;
}


#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #0088cc;
  }
  
  .contact:hover {
    text-decoration: underline;
  }  
